@import "../../styles/variables.scss";

.Button {
  background: $primaryColor;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
  font-size: 14px;
  height: 40px;
  cursor: pointer;

  &:disabled {
    background: $primaryColor;
    color: white;
    pointer-events: none;
    opacity: 0.5;
  }

  &Large {
    width: 260px;
    font-size: 16px;
    height: 52px;
  }

  &:hover,
  &:focus {
    background: $primaryColor;
    color: white;
    transform: translateY(-2px);
  }
}

@media screen and (max-width: 600px) {
  .Button {
    &Large {
      width: 180px;
    }
  }
}
