@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

:root {
  --pageBgColor: #f2f1e8;
}

$primaryColor: #193c3b;

$dropdownHover: #193c3b20;

$borderColor: #d4d3ca;

$headerTextColor: #193c3b;
$headerBgColor: #f2f1e8;
$headerHeight: 90px;

$linkColor: #0e7eff;

$highlightColor: #e6f4e3;

$weekDayBgColor: #efefef;
$dayDisabledColor: #85858590;

$filterBorderColor: #0b9543;
$filterSelectedColor: #e3f0ee;
