@import "../../styles/variables.scss";

.Landing {
  max-width: 850px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100%;

  &Title {
    font-family: "Noto Serif", serif;
    line-height: 1.4;
    font-size: 44px;

    &Highlight {
      background: $highlightColor;
    }
  }

  &SubTitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 38px 0px;
    color: black;
  }

  &Card {
    margin-bottom: 38px;
    background: #fefefe;
    border: 1px solid #d2d1c5;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 21px #e2e1d4;

    > div {
      &:last-child {
        margin-left: 16px;
      }
    }
  }

  &Drawer {
    display: flex;
    width: 100%;
    height: 100%;

    &LHS {
      width: 100%;
      max-width: 390px;
      border-right: 1px solid $borderColor;
      padding: 24px;

      &Filters {
        position: relative;
        top: 300px;

        &::after {
          content: "";
          position: absolute;
          height: 1px;
          background: $borderColor;
          width: 100%;
          top: -18px;
          left: 0;
        }

        &Title {
          color: $primaryColor;
          font-weight: 500;
          font-size: 16px;
        }
      }

      &Filter {
        &Container {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-top: 8px;
          row-gap: 8px;
          column-gap: 8px;
        }

        &Item {
          border-radius: 4px;
          border: 1px solid $filterBorderColor;
          color: $primaryColor;
          font-weight: 500;
          font-size: 15px;
          cursor: pointer;
          padding: 6px 8px;
          transition: all 0.3s ease;

          &Selected {
            background: $filterSelectedColor;
          }

          &:hover {
            background: #f5f5f5;
          }
        }
      }
    }

    &RHS{
      width: 100%;
    }
  }
}

:global {
  .ant-picker {
    opacity: 0;
    position: relative;
    top: -58px;

    &-body {
      padding: 0 !important;
      margin-top: 10px;
      box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }

    &-cell {
      color: $dayDisabledColor;

      &-disabled {
        &::before {
          background: transparent;
        }
      }

      &-today {
        .ant-picker-cell-inner {
          &::before {
            border: 1px solid $primaryColor !important;
          }
        }
      }

      &-selected {
        .ant-picker-cell-inner {
          background: $primaryColor !important;
        }
      }

      &-in-view {
        color: $primaryColor;
      }

      &-inner {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100% !important;
      }
    }

    &-content {
      width: 100% !important;
    }

    &-dropdown,
    &-date-panel {
      width: 340px;
      th {
        font-weight: 700;
        background-color: $weekDayBgColor;
      }
      th,
      td {
        width: 32px !important;
        height: 37px;
        padding: 0;
        border: 1px solid $primaryColor;
        font-weight: 500;
        font-size: 15px;
      }
    }

    &-header {
      justify-content: center;
      align-items: center;
      border: none;

      &-view {
        margin: 0 20px;
        flex: none;
        button {
          pointer-events: none;
          &:last-child {
            margin-left: 5px;
          }
        }
      }
      &-super {
        &-prev-btn,
        &-next-btn {
          display: none;
        }
      }
    }
    &-panel {
      border: none;
      &-container {
        box-shadow: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Landing {
    &Title {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 24px;
    }

    &SubTitle {
      display: none;
    }

    &Card {
      flex-direction: column;

      > div {
        &:last-child {
          margin-top: 16px;
          margin-left: 0px;
        }
      }
    }
  }
}
